
body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;

}

html{
  scroll-behavior: smooth;
}
.App{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
 
  overflow-x:hidden;
 
  
}

.clickhere{
  padding-top:20px;
}

.clickhere a{
  color:red!important
}
.EventTable_Card{
  margin:12px 0;
  border:2px solid black;
  border-radius:10px;
  padding:2px;
  color:white;
}

.TitleAndContent{
  max-width:40px;
  margin:0;
  display:inline;

}


.CommitmentTitle{
  font-size:30px;
  width:33.333%!important;
  text-align:center;
  align-items:center;
  color:white;
  background-color:black;
  font-weight:600;
  padding:0;
  margin:0;
  display:inline;
 
}

.CommitmentTitle h1{
  background-color:black;
}
.slider-right div{


  border:1px solid transparent !important;
}
.slider-left div{


  border:1px solid transparent !important;
}
.CommitmentHeader h1{
  font-weight:bold;
  text-align:left!important;
}

.CommitmentHeader {
  display:inline-block;
  background-color:black;
  text-align:left;
  padding-left:150px;
  padding-right:120px;
}

.ediContent{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  text-align:left;
  font-weight:200;
  color:silver;
}
.TitleDetail{
  width:33.33%;
  color:white;
  z-index:2;


  margin:0;
  padding:0;
  
 padding-bottom:100px;
  float:left;
  margin-right:1px;
  padding-right:60px;
  background-color:black;
  text-align:left;


}

.inevent{
  color:white;
  padding-top:3.5rem;
  text-align:center;
  padding-top:100px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:36px!important;
}
.Commitment h1{

  margin:0;
  padding-bottom:30px;;
  padding-top:8%;
  font-weight:700;
  text-align:center;
  width:100%;
  text-transform:none!important;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;

}
@media (min-width:300px){
  .TitleDetail{
      width:100%;
  }
  .realhubtext{
    margin-right:0!important;
  }
}
@media (min-width:1000px){
  .TitleDetail{
      width:33%;
  }
}
.containerTest{
  display:inline;
  max-width:40px;
  margin:0;
  padding:0;
}
/* 
.VideoPlayerss{
  position:absolute;
  width:100vw;
  height:100vh;
  left:50%;
  top:50%;
  height:100%;
  object-fit:cover;
  transform:translate(-50%,-50%);
  z-Index:-1;
} */

.realhubtext{
  padding-right:12%!important;
}
.ParallaxVideo{
  height:100%;
  padding-bottom:125px;
  padding-top:50px;
  z-index:-1!important;

 
}

.ParallaxVideo video{
  width:100vw;
  position:fixed;
  top:0;
  z-index:-99!important;
  filter:brightness(45%);
  height:100vh;
  z-index:22!important;

}


.nextstep{
  color:white!important;
  text-decoration:none!important;
  padding:0;
  margin:0;
  text-align:right;
  padding-right:8%;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  font-size:24px;
}
.nextstep :hover{
  color:blue;
}
/* .ParallaxVideo h1{

  color:white;
  font-size:76px;
  font-weight:700;
  text-align:center;
  text-transform:uppercase;
} */
.containerss{
  max-width:960px;
  margin:0 auto;
  background:green;
  font-size:24px;
  padding:25px;
}
.contactusdesc{
  padding-left:6%;
  font-weight:600;
}
.parallax{
  background:url('/images/video.mp4');
  background-size:cover;
  background-attachment:fixed;
  height:500px;
  z-index:-999!important;

}

.videoSection{
  padding-bottom:4%
}
.section{
  position:relative;
  width:100vw;
  height:100vh;

  /* viewport height */
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  /* no scrollbars */

}
.title{
  text-align:left;

  font-size:4.7rem;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  padding-top:200px!important;
  color:white;
 
 
  /* font-style:italic; */
  z-index:1!important;
  display:block;
  padding-top:140px;
  
  /* background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif; */
/* 
background-image:linear-gradient(
  to right,
  #462523 0,
  #cb9b51 22%,
  #f6e27a 45%,
  #f6f2c0 50%,
  #cb9b51 78%,
  #462523 100%
); */
/* -webkit-background-clip:text; */


  /* text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,

 

  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.4),
  1px 25px 35px rgba(16,16,16,0.4),
  1px 30px 60px rgba(16,16,16,0.4)

   */

  
/* this z index represents the layers so this is 1st layer */
}
.rookiemaintitle{
  padding-left:7%!important;
  margin-bottom:0!important;
  font-size:5rem;

}
@media (max-width:400px){
  .title{
    font-size:2rem;
  }
  .logo{
    width:200px;
  }
  .forwardTitle{
    font-size:2rem;
  }
}
.cat{
  z-index:1;
}
.subresources{
  padding-left:100px;
}
.subtitle{
  font-size:1.4vw;
  color:white;
  text-align:left;
  font-family: 'Montserrat', sans-serif!important;
  font-weight:500;
  max-width:100%;
  justify-content:center;
 
  
}

.rookiesub{
  padding-left:8.5%!important;
  padding-top:0!important;
  color:lightgrey;
  font-weight:500!important;
  font-size:24px!important;
}
.learnMore{
  align-items:left;
  justify-content:left;
  text-align:left;
  font-family: 'Montserrat', sans-serif;
z-index:2000;
padding-left:10%!important;
}

  /* .pulse:hover,
  .pulse:focus{
      animation:pulse 1s;
      box-shadow:0 0 0 2em rgba(white,0);
  } */

  .navbarss{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:transparent;
    height:80px;
    z-index:20!important;
    display:block;
    background-color:black;
    

  }

  .blacknav{
    background-color:black;
  }
  .subtitle p{
    font-weight:500;
    font-size:24px;
  }
.scrolled{
  background-color:black;
}
  
.box{  display:inline;
  margin:0;
  padding:0;}
 .nav_Logo{
   width:165px;
   height:45px;
 }
  .navbarss_nav{
    display:flex;
    height:100%;
    align-items:center;
    padding:0 1rem;
    padding-right:4%!important;

  
  }
  .app-bar{
    height:70px;
  }

  .getStartedlink{
    padding-left:8.5%!important;
  }
  
  .navbarss_logo a{
    color:white;
    text-decoration:none;
    font-size:1.5rem;
    margin-left:60%!important;
  }

  .navbarss_nav-items a {
    color:white!important;
    text-decoration:none;
    font-weight:bold;
    margin-right:20px!important;
    font-family: 'Montserrat', sans-serif;
 
    
  }
  @media (max-width:850px){
    .navbarss_nav-items a {
      display:none;
    }
  }
  .spacer{
    flex:1;
   }
  .navbarss_nav-items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    color:white!important;
    
  
  
  }

  .navbarss_logo{
    margin-left:1rem;
  }

  .navbarss_nav-items li {
    padding:0 0.5rem;
    list-style:none;
  }

  .navbarss_nav-items a:hover,
  .navbarss_nav-items a:active{
    color:orange;
  }

 


  .toggle-button{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:24px;
    width:30px;
    background:transparent;
    border:none;
    cursor:pointer;
    padding:0;
    box-sizing:border-box;

  }

  .toggle-button:focus{
    outline:none;

  }

  .toggle-button_line{
    width:30px;
    height:2px;
    background:white;
  }

  .side-drawer{
    height:100%;
    background:white;
    box-shadow:1px 0px  7px rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:70%;
    z-index:300!important;
    max-width:400px;
    transform:translateX(-100%);
    transition:transform 0.3s ease-out;
  }
  .side-drawer.open{
    transform:translateX(0);
  }
  .side-drawer ul{
    height:100%;
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .side-drawer li{
    margin:0.5rem 0;
  }

  .side-drawer a{
    color:purple;
    text-decoration:none;
    font-size:1.2rem;
  }

  .side-drawer a:hover,
  .side-drawer a:active{
    color:#fa923f;
  }
  .backdrop{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    z-index:201!important;
    top:0;
    left:0;
  }

  @media (max-width:768px){
    .toolbar_navigation{
      display:none;
    }
  }

  @media (min-width:769px){
    .side-drawer{
      display:none;
    }

  }

  @media(min-width:769px){
    .navbarss_nav-button{
      display:none;
    }
    .navbarss_logo{
      margin-left:0;
    }
  }


  
.actualButton{
  justify-content:left;
  align-items:left;
  text-align:center;
  width:200px!important;
  display:inline-block;

  color:white!important;
  font-weight:bold;
  background-color:black;
  padding:15px 0px;
  font-size:20px!important;
  border:3px solid #0932FF!important;
  border-radius:20px;
  /* box-shadow:0px 6px 0px blue; */

}
#dogs{
  height:300px;
}
.video-container{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  filter:brightness(25%);


  
}

.contactButton{
  background-color: black!important;
  color: white!important;
  text-decoration:none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight:600;
  border:3px solid blue!important;
  border-radius:10px;
  font-size:18px;
  font-family: "Montserrat", sans-serif;
}

.contactButton a{
  color:white;
}

.contactButton:hover{
  text-decoration:none;
  color:white;
}
.Contact{
  color:white;
  background-color:#141413!important;
}

.seniorMentor{
  width:80%!important;
  height:80%!important;
}
.seniormentora{
  margin-top:200px;
}
video{
  object-fit:fill;
}
hr{
  margin:25px auto;
  


  /* GET STARTED! */
}
.getStarteds{
  /* background-color:#141413;
  background-image:radial-gradient(circle,rgba(255,255,255,.045) 24%,transparent 26%),radial-gradient(circle,rgba(255,255,255,.045) 24%,transparent 26%);
  background-size: 10px 16px;
  background-position: 0 0,5px 8px;
  background-repeat: repeat; */
  background-color:black;
  padding-top:7%!important;
  padding-bottom:9%!important;
 
}
.agreement{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

}

@media(max-width:768px){
  .cardsections{
    width:100%!important;
    padding-left:25%!important;
  }
  .rookiemaintitle{
    font-size:10!important;
  }

}
@media(max-width:1400px){
  .cardsections{
    width:100%!important;
  }
  .flex-container{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-right:5%;
  }
  .signupvideo{
    padding-left:7%!important;
  }
  .videosignup{
    padding-right:0!important;
  }
}
@media (max-width:900px){
 .signupvideo{
   padding-left:50px!important;

  }
  .edivideo{
    width:50%;
  }
 .videosignup{
   padding-right:0!important;
 }
  }

.signupvideo{
  padding-top:0%;
}
ul li{

}
.getStarted{
  width:100vw;
  height:100%;
  display:flex;
  position:relative;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color:black;
  background-size:cover;
  opacity:20;
  overflow:hidden;
  padding-top:-200px;
  font-family:sans-serif;
  font-weight:bold;
  
}
.smallcont{
  width:30%;
  margin:0;
  padding:0;
  display:inline;
  text-align:center;
  
}

.wow{
  color:white;
  text-align:center;
  font-family:'Montserrat', sans-serif;
  font-weight:700!important;
  padding-top:30px;
  font-size:2.5rem!important;
  
}

.getStarted h1 {
  width:100%;
  margin-left:auto;
  position:absolute;
top:-100px;

  text-align:center;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  font-size:36px;
  margin-top:30px;
  margin-bottom:200px;
  padding-bottom:200px;
  

}
/* 
.flexbox-container{
  height:500px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;

}
.chevron-right{
  color:white;
  padding-top:100px;

}

.card-container{
  position:relative;
  max-height:90%;
  display:grid;
  grid-template-columns:repeat(7,1fr);
  padding:0px 20px;
  grid-gap:2rem;
  margin-right:40px;
  margin-left:40px;
  margin-top:-90px;
}
.card-image{
  padding-top:40px;
  background:-webkit-linear-gradient(top,#8f6b29,
  #FDE08D,#DF9F28);
  background:linear-gradient(top,#8f6b29,#fde08d, #df9f28);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

}
a:hover{
  
  text-decoration:none;
}

a:visited{
  text-decoration:none;

}

a:link{
  text-decoration:none;
}
a:link{
  text-decoration:none;
}

.card{
  display:grid;
  grid-template-columns:300px;
  grid-template-rows:130px 104px 73px;
  grid-template-areas:'image' 'text' 'stats';
padding-right:0;
padding-left:0;
  font-family:roboto;
  border-radius:15px;
  background:#202224;
  box-shadow:5px 5px 15px blue;
  text-align:center;
  transition:0.5s ease;
  cursor:pointer;
  margin:0px;
  margin-top:0px;
  
}
.card-image{
  grid-area:image;

  border-top-right-radius:15px;
  border-top-left-radius:15px;


}

.flexbox-container a{
  padding-right:0;
  padding-left:0;
  margin:0;
}

.youthCouncil{
  
  background:url("/images/youthCouncil.jpg");
  background-size:cover;
}

.signUp{
  background:url("/images/signUp.jpg");
  background-size:cover;
}
.chevron-right i{
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  /* box-shadow:5px 20px 10px #202224; */
/* }
.card-text{
  grid-area:text;
  margin:25px;
  color:white;

}
.card-text h2{
    background:-webkit-linear-gradient(top,#8f6b29,
  #FDE08D,#DF9F28);
  background:linear-gradient(top,#8f6b29,#fde08d, #df9f28);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.card-stats{
  grid-area:stats;
} */ 


.card:hover{
  transform:scale(1)!important;
  box-shadow:5px 5px 15px white!important;

}

/* .card-text h2{
  font-size:30px;

} */


/* FOOTER************************************** */
*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  
}

.body-content{
  width:100%;
  padding:1px;
  text-align:justify;
  box-sizing:border-box;
  font-size:18px;
  line-height:40px;
}

.extrapadding{
  height:14vh!important;
  background-color:#141413!important;
  padding-top:100!important;
  width:100%;
  display:inline-block;
}
.footer{
  width:100%;
  background:black;
  margin-left:0!important;
  
  display:inline-block!important;
}
.inner-footer{
  width:95%;
  margin:auto;
  padding:30px;
  display:flex;
  flex-wrap:wrap;
  box-sizing:border-box;
  justify-content:center;
}

.footer-items{
  width:25%;
  padding:0px 20px;
  box-sizing:border-box;
}

.usefullinks{

}
.borders{
  background:radial-gradient(ellipse farthest-corner at right bottom,#FEDB37 0%,
  #FDB931 8%, #9F7928 30%, #8A6E2F 40%,transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  width:100vw;
  height:10px;
}
h1{
  padding:10px 0;
  font-size:20px;
  color:#fff;

}

.footer-items p{
  color:grey;
  font-size:16px;
  text-align: center;
  line-height:25px;
  margin-top:0!important;
}

h2{
  margin:10px 0;
  color:grey;
  font-size:16px;
  font-weight:lighter;
  text-transform:none!important;

}

.border{
  height:2px;
  width:200px!important;
  background:blue!important;
}

ul{
  list-style:none;
  color:#fff;
  font-size:15px;
  letter-spacing:0.5px
}
.footer-items h2{
  font-size:25px;
  font-weight:600;
  font-family:'Montserrat', sans-serif;
  color:white;

}
ul a{
  text-decoration:none;
  outline:none;
  color:#fff;
  transition:0.3s;
}

ul a:hover{
  color:rgb(11, 62, 230)!important;
  text-decoration:none;
}
ul li{
  margin:10px 0;
  height:25px;
  font-family:'Montserrat', sans-serif;
}
.slider-container img{
  height:350px;
}

li i{
  margin-right:20px;
}
p h1 h2 h3{
  font-family:'Montserrat', sans-serif!important;
}
.social-media{
  width:100%;
  color:white;
  text-align:center;
}

.social-media a{
  text-decoration:none;
  width:30px;
  height:30px;
  padding-right:20px;

}

.social-media i{
  height:15px;
  width:15px;
  margin:20px;
  color:white;
  border:none;
  transition:0.3s;
}

.social-media i:hover{
  background:grey;
}

.footer-bottom{
  padding:10px;
  background:black;
  color:white;
  font-size:12px;
  text-align:center;
  font-weight:500;
  font-family: 'Montserrat', sans-serif;
}
.logo{
  width:300px;
  height:100px;
  padding-bottom:20px;
}
@media screen and (max-width:1085px){
  .footer-items{
      width:50%;
  }
}
@media screen and (max-width:600px){
  .footer-items{
      width:100%;
  }
}


/* commitment******************* */
.bg-modal{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  opacity:0.7;
  position:absolute;
  top:0;
  display:flex;
  justify-content:center;
  align-items:center;
  display:none;
  z-index:1;
}

.modal-content{
  width:500px;
  height:300px;
  background-color:white;
  border-radius:4px;
  text-align:center;
}

.close{
  position:absolute;
  top:0;
  right:14px;
  font-size:30px;
  transform:rotate(45deg);
}

.modalSection{
  background-color:black;
  padding-left:100px;
  display:flex;
  justify-content:center;
  padding-bottom:100px;
} 

.equity1{
  background-color:white;

  width:200px;
  height:100px;
  margin-right:200px;
  margin-top:150px;
  
}
.equity1:hover{
  transform:scale(1.15);
  box-shadow:5px 5px 15px #0aebff;

}
/* FORM SECTION */
.formSection{
  background-color:black!important;
  display:inline-block;
  justify-content:center;
  align-items:center;
  width:100vw;
  padding-top:5%;
  padding-bottom:5%;

}


.container{
  width:80%;
  padding:20px;
  padding-right:80px;
  border:10px;
  
}

.container h2{
  width:100%;
  color:white;
  font-size:36px;
  text-align:center;
  font-weight:bold;
  font-family:'roboto';
  margin-bottom:10px;

}

.container .row100{
  position:relative;
  width:100%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

}

.container .row100 .col{
  position:relative;
  width:100%;
  padding:0 10px;
  margin:30px 0 10px;
  transition:0.5s;
}

.container .row100 .inputBox{
  position:relative;
  width:100%;
  height:40px;
  color:white;
}


.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea{
  position:absolute;
  width:100%;
  height:100%;
  background:transparent;
  box-shadow:none;
  border:none;
  outline:none;
  font-size:18px;
  padding:0 10px;
  z-index:1;
  color:#000;
  font-family:'roboto';


}

.container .row100 .inputBox .text{
  position:absolute;
  top:0;
  left:0;
  line-height:40px;
  font-size:18px;
  padding:0 10px;
  display:block;
  transition:0.5s;
  pointer-events:none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
  top:-35px;
  left:-10px;
}
.container .row100 .inputBox .line{

position:absolute;
bottom:0;
display:block;
width:100%;
height:2px;
background:white;
transition:0.5s;
border-radius:2px;
pointer-events:none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line{
  height:100%;

}

.container .row100 .inputBox .textarea{
  position:relative;
  width:100%;
  height:100px;
  padding:10px 0;
}


.container .row100 .inputBox.textarea textarea{
  height:100%;
  resize:none;
}


.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text{
  top:-35px;
  Left:-10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line{
  height:100%
} 

input[type='submit']{
  border:none;
  padding:7px 35px;
  cursor:pointer;
  outline:none;
  background:black!important;
  color:white!important;
  font-size: 18px;
  border-radius:2px;
  border:1px white;
}

.submitButtondiv{
  justify-content:center;
  display:flex;
  line-height:0px!important;
}



.lol{
  margin-right:100px
  }
  .lol p{
      color:white;
  }
  .lol h2{
      font-weight:bold;
      font-family: 'Montserrat', sans-serif;
      font-size:34px;
      background:-webkit-linear-gradient(to top,#8f6b29,
      #FDE08D,#DF9F28);
      background:linear-gradient(to top,#8f6b29,#fde08d, #df9f28);
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
  }
  .lols{
      margin-right:200px;
      text-align:center;
      margin-top:70px;
      background-color:black;
  }
  .titlebox{
      background-color:black;
  }
  .lols h1{
      background:-webkit-linear-gradient(to top,#8f6b29,
      #FDE08D,#DF9F28);
      background:linear-gradient(to top,#8f6b29,#fde08d, #df9f28);
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
      font-size:40px;
  }
  .container-1{
      display:flex;
      padding-top:100px;
  }
  .container{
      text-align:center;
       
      align-items:center;
  }
  
  
  .firstTitle{
      text-align:center;
    
      font-size:36px;
      width:100vw;
      justify-content:center;
      font-weight:bold;
      font-family: 'Montserrat', sans-serif;
  }

  /* COMMITMENT STYLING */
  /* .containerTest{
    width:100%;
    height:auto;
    background:blue; */

    /* display:flex;
    flex-direction:row;
    justify-content:space-around; */
  /* } */
/* 
  .box{
    width:30%;
    height:300px;
    background:yellow;
    margin:20px;
    box-sizing:border-box;
    font-size:50px;
  } */


  .box{
    color:white;
  }


  /* ONLINE HUBS */
  .OnlineHubs{
    background-color:#2F2F31;
    margin:0;
    padding:0;
  }
  .hubdesc{
    color:silver!important;
    padding-left:9%!important;
  }
  .hubdesc p{
    font-size:44px!important;
  }
  .hubpics{
    background-color:#001a33!important;
  }
  .hubtitle{
    font-size:30px;
    align-items:center!;
    text-align:center;
    color:white;
    margin:0;
    padding:0;
    width:100%;
 
  }



.borders{
    background:radial-gradient(ellipse farthest-corner at right bottom,#FEDB37 0%,
    #FDB931 8%, #9F7928 30%, #8A6E2F 40%,transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    width:100vw;
    height:10px;
}
.teamBins{
    padding-top:20px;
}
.rick{
    background:#202224;
color:white;
 margin-bottom:50px;
 box-shadow:5px 5px 15px red;
 border-radius:5px;
 margin-right:20px;
 padding-top:8px;
 padding-bottom:8px;

    }
    .rick h2{
        font-size:20px;
       
       color:white;
 
    }
.tools{
    padding:20px;
    padding-bottom:10px!important;
   
    color:white;
    padding-right:20px;
    font-family: 'Montserrat', sans-serif;
    margin-top:0;
}

.tools p{
   color:rgba(243,226,199,1);
}
#id{
    margin-top:30px;
}
    .hubtitle{
        font-weight:bold;
        font-family:'roboto';
        font-size:42px;
        padding-top:40px;
        padding-bottom:25px;
        font-family: 'Montserrat', sans-serif;
        justify-content:center;
        text-align:center;
        align-items:center;
        padding-right:210px;
        text-transform:uppercase;
        color:white;
    }
    .hubs{
      background-color:#001a33!important;
    }
 
    .hubs p{
       color:white;
        margin:0;
        margin-left:60px;
        padding-left:0px;
        font-size:20px;
        text-align:left;
    
    }
    .hubtext{
        width:200px;
        padding-right:30px;
        margin-top:40px;
        color:rgb(61, 57, 51);
        margin-top:0;
        font-size:30px;
    }

    .hubtext p{
        font-size:20px;
        font-weight:500;
        font-family: 'Montserrat', sans-serif;
        /* color:rgba(243,226,199,1); */
    }

    .hubs img{
        width:200px;
        height:150px;
        margin-bottom:30px;
        
    }

    .image{
        border-radius:10px;
    }
.image1{
    width:100%;
    display:block;
    height:auto;
}
.images{
    margin:0;
    padding-right:0;
    padding-left:150px;
    max-width:300px;

}
.slider-single.proactive{
  background-color:black!important;
}

.testimonialSlide{
  font-style: italic;
}


.committtext{
  color:silver!important;
}
.react-3d-carousel .slider-container .slider-content .slider-single.active{
  background-color:black;
}

.slider-single.preactivede{
  background-color:black!important;
}
.commitvideo{
  color:white;
}
.dog{
    object-fit:fill;
    max-width:100%;
    display:block;
    margin:0;
}

  /* TESTIMONIALS */

  .Testimonial{
    font-size:20px;
    align-items:center;
    text-align:center;
    /* background-color:#141413;
    background-image:radial-gradient(circle,rgba(255,255,255,.045) 24%,transparent 26%),radial-gradient(circle,rgba(255,255,255,.045) 24%,transparent 26%); */
    background-color:black!important;
    padding-top:5%!important;
    padding-bottom:6%!important;
    margin:0;
    padding:0;
  }
  .TestimonialSectionTitle{
    font-size:40px!important;
    align-items:center;
    text-align:center;
    font-weight:700;
  
  }

  .Testimonial h1{
    font-size:30px;
    font-family:'Montserrat', sans-serif;
  font-weight:700!important;
  
  
  }
  .react-3d-carousel{
    width:2000!important;
  }

 
  
  .Testimonial h2{
    font-size:20px;
    font-family:'Montserrat', sans-serif;
  font-weight:500;
  color:white;
  
  }
  .testimonialSlide p{
    color:white;
    font-size:30px;
    text-align:center;
    font-family:'Montserrat', sans-serif;
  font-weight:500;
  
  }
  /* FORM */

  .celtics{
    width:100%;
    height:620px;
  }
.wrapper{
  -webkit-box-shadow: 10px 10px 87px 10px rgba(173,173,173,0.58);
  -moz-box-shadow: 10px 10px 87px 10px rgba(173,173,173,0.58);
  box-shadow: 10px 10px 87px 10px rgba(173,173,173,0.58);
  width:100%!important;
  background-color:black;
  border-radius:20px;
  padding-right:100px!important;
  
  /* box-shadow: 10px 10px 5px white; */
  padding:30px;
  font-family: 'Montserrat', sans-serif;
  /* border:3px solid white; */


}
.forwardTitle{
  font-size:3.5rem;
  text-align:left!important;
  padding-bottom:0!important;
  margin-bottom:0!important;

  padding-top:280px!important;
}
.titles{
  font-size:36px;
  font-weight:700;
  margin-bottom:25px;
  color:white;
  text-transform:uppercase;
  text-align:center;

  font-family: 'Montserrat', sans-serif;
  

  padding-left:100px;
  
}

.titles h1{
  font-size:35px;
  font-weight:700!important;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}
.wrapper .titles{
  font-size:60px;
  font-weight:700;
  margin-bottom:25px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  padding:0;

}

.formarea{
  background-color:black!important;
  padding-left:8%;
  padding-right:8%;
}
.wrapper .form{
  width:100%;


}
.inputfield label{
  font-size:20px;
  

}
.inputfield p{
color:white;
}
.wrapper .form .inputfield{
  margin-bottom:15px;
  display:flex;
  align-items:center;
  color:white;
  padding:15px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper .form .inputfield label{
  width:150px;
  color: white!important;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;

  font-size:20px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width:100%;
  outline:none;
   border:1px solid black!important;
  font-size:15px;
  padding:15px;
  border-radius:10px;
  color:white;
  transition:all 0.3s ease;
  background-color: rgb(69,69,71);

}

.wrapper .form .inputfield .textarea{
  width:100%;
  height:125px;
  resize:none;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield  .textarea:focus{
  border:1px solid white;
}

.wrapper .form .inputfield p {
  font-size:14px;
  color:#757575;
  text-align:center;
  justify-content:center;
  align-items: center;
}

.wrapper .form .inputfield .check{
  width:15px;
  height:15px;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-right:20px;
  margin-left:20px;
}
.submitButton{
  width:100%;
 line-height:0px!important;
  font-size: 15px;
  border:0px;
  background-color:black;
  color:black;
  cursor:pointer;
  border-radius:3px;
  outline:none;
  border:1px solid white!important;
}

.wrapper .form .inputfield .check input[type = "checkbox"]{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  margin-right:10px;
}

.wrapper .form .inputfield .check .checkmark{
  width:15px;
  height:15px;
  border:1px solid rgba(243,226,199,1);
  display:block;
  position:relative;

}


.wrapper .form .inputfield .check .checkmark:before{
  content:"";
  position:absolute;
  top:1px;
  left:2px;
  width:5px;
  height:2px;
  border:2px solid;
  border-color:transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display:none;

}
.wrapper .form .inputfield .check input[type='checkbox']:checked ~ .checkmark{
  background:#fec107;
}
.wrapper .form .inputfield .check input[type='checkbox']:checked ~ .checkmark:before{
  display:block;
}

.wrapper .form .inputfield .btn{
  width:100%;
  padding:8px 10px;
  font-size: 15px;
  border:0px;
  background:radial-gradient(ellipse farthest-corner at right bottom,#FEDB37 0%,
  #FDB931 8%, #9F7928 30%, #8A6E2F 40%,transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color:black;
  cursor:pointer;
  border-radius:3px;
  outline:none;
  
  
}
.terms{
  text-align:center;
  align-items:center;

  
}

.wrapper .form .inputfield .btn:hover{
  background:#ffd658;

}

.wrapper .form .inputfield .btn:hover{
  background:rgba(243,226,199,1);
}

.wrapper .form .inputfield:last-child{
  margin-bottom:0;
}

@media (max-width:420px){
  .wrapper .form .inputfield{
      flex-direction:column;
      align-items:flex-start;
  }
  .wrapper .form .inputfield label{
      margin-bottom:5px;
  }
  .wrapper .form .inputfield .terms{
      flex-direction:row;
      justify-content:center;
    
  }
}

/* REAL GET STARTED SECTION */

.overflow img{
  width:40px!important;
}
.bin{}
.card{
  width:210px;
  height:310px;
  margin:0;
  background-color:black!important;
  border-radius:30px!important;
  border:2px solid black!important;
  /* -webkit-box-shadow:10px 10px 5px 0px blue;
  -moz-box-shadow:10px 10px 5px 0px blue;
  box-shadow:10px 10px 5px 0px blue; */
  /* box-shadow:5px 5px 2px 1px	#787878; */
  -webkit-box-shadow: 10px 10px 87px 10px rgba(173,173,173,0.58);
  -moz-box-shadow: 10px 10px 87px 10px rgba(173,173,173,0.58);
  box-shadow: 10px 10px 87px 10px rgba(173,173,173,0.58);

}

.cardsection{
  padding-left:6%!important;
}

.cardsections{
  padding-left:0px;
  padding-right:0px!important;
  margin:0!important;
  


}

.fonts{
  padding-top:25px;
  width:100%;
  color:white;
}
.fonts p{
  width:100%;

}

.card-body{
 padding-top:15%!important;
}

.preactive .slider-single-content p{
  display:none;
}
.proactive .slider-single-content p{
  display:none;
}

.react-3d-carousel .slider-container .slider-content .slider-single{
  /* box-shadow:10px 10px 5px  */
}
.card-title{
  font-size:30px!important;
  font-family:'Montserrat', sans-serif!important;
  color:white!important;
  font-weight:600;
  text-decoration:none;
  
}
.card-title a{
  color:white;
  text-decoration:none!important;
}
.card-title a:hover{
  color:white!important;
}

/* SIGN UP PAGE */

.SignUp h1{
  color:white;
 
  padding-bottom:30px!important;
  text-align:center;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif!important;
  font-weight:700;
  
}

.SignUpTitle{
  
  width:20%;
  height:15vw!important;
  color:white;
  font-family: 'Montserrat', sans-serif!important;
  margin:0;
  padding:0;
 font-weight:600;
 padding-bottom:150px;
  float:left;
  background-color:#141413!important;
  margin:20px;
  border-radius:20px;
  padding:20px;
  -webkit-box-shadow: 10px 10px 41px 18px rgba(0,43,255,1);
  -moz-box-shadow: 10px 10px 41px 18px rgba(0,43,255,1);
  box-shadow: 10px 10px 41px 18px rgba(0,43,255,1);


}

.ResourceCards{
  
}
.SignUp h1{
  font-family: 'Montserrat', sans-serif!important;
}

.startaTeam{
padding-left:0!important;
margin:0!important;
}
.registerInfo{
  text-align:left;
  font-family: 'Montserrat', sans-serif!important;
  margin-right:150px;
  padding-left:7%;
  margin-left:10px;
  font-size:22px;
  line-height:1.4;
  color:white;
}

.mentordesc{
  padding-top:30px;
}

.SignUpTitle:hover{

    transform:scale(1.05)!important;
    box-shadow:5px 5px 15px red;
  
  }
  

.SignUp{
  margin-top:70px!important;
  font-family: 'Montserrat', sans-serif;
  background-color:#141413;
}

.SignUp h1{
  padding-bottom:0;
  margin-bottom:0;
}


.SignUpTitle h1{
 background-color:#141413;
  padding-bottom:0;
  margin-bottom:0;
}
.SignUpHeaders{
  font-size:1.5rem;
  padding-top:70px;

}
/* div{}
  background-color:black!important;
} */
.designcards{
  width:30%;
}
.SignUp{
  margin:0;
  padding:0;
  background-color:#141413;
}
/* RESOURCES PAGE */

.Resources h1{
  color:black;
}
.Resources{
  display:block;
 
}

.ResourcesButton{
  background-color:black;
  color:white;
  font-size:18px;
  text-align:center;
  padding:5px;
  border:1px solid white;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
}
.center{
  display:flex;
  justify-content:right!important;
  align-items:center!important;
}
.resourceBackground{
  background-color:#141413;
}
.p-4{
  padding-top:1.5rem!important;
  padding-left:0!important;
  padding-right:0!important;
  padding-bottom:10%!important;
}
.SignUpTitle{

  color:white;
  height:300px;
  background-color:#001f94
}

.SignUpTitle h1{
  color:white;
  text-align:center;
}

.SignUpContent{
  width:300px;
  height:300px;
}
.SignUpContent h1{
  color:black;
  background-color:yellow;
}


/* REGISTRATION PAGE */
.resourcenavbar{
  position:fixed;
}
.registrationhr{
  padding-top:10px;
  padding-bottom:0;
 
  margin:0;
  margin-top:10px;
  margin-left:150px;
  display:flex;
  justify-content:left;
  background-color:blue;
  height:10px;
}
.abouthrs{

  padding-bottom:0;
 
  margin:0;
  margin-top:100px;
  height:7px!important;
  display:flex;
  justify-content:left;
  background-color:rgba(255, 5, 5, 0.87);

  height:10px;
}
.forwardhrs{

  padding-bottom:0;
  margin-left:10px!important;
  margin:0;
  margin-top:10px;

  display:flex;
  justify-content:left;
  background-color:rgba(255, 5, 5, 0.87);

  height:10px;
}

.RegistrationTitle{
  text-align:left!important;
  padding-left:150px;
}
.sidebar{
  height:100vh!important;
}

.sidebar-menu{
  background-color:black!important;
  color:white!important;
  height:2000px!important;
  padding-top:4%!important;
}
.sidebar-menu li{
  padding-left:20px;
  margin-right:20px;
}
.sidebar-menu a{
  font-weight:700;
  font-family: 'Montserrat', sans-serif;

}

.content{
 background-color:#141413;
color:white;
  z-index:20;
}
.SignUp p{
  color:white;
}
.h-100{

}
.resourceTitle{
  padding-top:100px;
  color:black;
  font-size:36px!important;
}

.ResourceTitle{
  color:white;
  font-size:36px;
  text-align:left!important;
  padding-left:20px;

}
.Registration{
  width:100%;
  background-color:blue;
  padding-left:130px;
}

.resourcespage{
  height:100vh!important;
 width:100vw;
  margin-top:0px;
  text-align:left;
  background-color:#141413!important;
  color:white;
  padding-top:10%!important;
  padding-bottom:10%!important;
  
}
.resourcespage p{
  margin-top:0px;
  font-size:24px;
}
.ResourceTitle h1{
  font-size:36px;
  text-align:left!important
}
.resourcestitle{
  font-family: 'Montserrat', sans-serif;
  font-size:5rem!important;
  font-weight:700;
  display:flex;
  justify-content:center;
  padding-top:100px;
  
}


.sidenav{
  padding-top:0!important;
  margin-top:0!important;
  padding-bottom:0!important;
  
}

.resourcebanktitle{
  padding-top:10%
}
.resourcebanksidebar{
  font-size:22px!important;
  color:white!important;
  padding-left:10px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.resourcesdescription{
  padding:0!important;
  margin:0!important;

  text-align:center;
  margin-bottom:100px!important;

}

.SignUpHeaders a{
  color:white;
}


.SignUpHeaders a:hover{
  color:red;
  text-decoration:none;
}


.contactinfo{
  text-align:center;
}


.john{
  width:650px;
  height:400px;
  border-radius:20px;
  margin-top:0px!important;
  margin-bottom:150px;
}

.johndiv{
  padding-right:160px;
  margin-top:0px!important;



}
.contacthrs{
  padding-left:6%!important;
  margin-left:6%!important;
}
.firststepdesc{
  padding-left:0!important;
}
.contacttitle{
  padding-left:6%;
  text-align:left!important;
}

.nomargin{
  margin-left:0!important;

}
.contactdesc{
  padding-left:0;
  margin-left:0;
}