.firstforward {
  width: 230px;
  height: 45px;

}

.firstforwardtitle {
  padding: 0 !important;
  font-size:40px;
  padding-top:10px!important;
  text-align:left!important;
}

.aboutforwarddesc{
  text-align:left;
  color:lightgrey!important
}

.aboutforward{
  padding-left:9%!important;
}

.CommitmentBin {
  text-align: center;
  padding-right: 150px;

  background-color: black;
  color: white;
  
  padding-top:70px;
}
.commitmentDesc{
  font-size:18px!important;
  text-align:left!important;
  font-family: "Montserrat", sans-serif;
  color:lightgrey;
  
}
.forwardlandingvideocontents{
  padding-left:8%;
}
.commtimentLink{
  text-align:left!important;
  font-size:18px;
}
.CommitmentBin h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-transform: none !important;
}

.CommitmentBin p {
  font-family: "Montserrat", sans-serif;

  justify-content: center;
  text-align: left;
}

.commitlink{

}
.CommitmentTitle{
  font-size:30px;
  color:inherit!important;

}
.commitmentp{
  align-items:center;
  justify-content:center;
  display:flex;
}
@media (min-width: 768px) {
  .CommitmentBin {
    padding-right: 5;
    padding-left: 5;
  }
}

.CommitmentBin button {
  background-color: black;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight:600;
  border:3px solid blue;
  border-radius:10px;
  font-size:18px;
  font-family: "Montserrat", sans-serif;
}
.Impactcontainer {
  display: flex;

  padding-bottom:70px;
padding-left:140px;
padding-right:110px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.ImpactText{
  font-family: "Montserrat", sans-serif;
  font-size:18px;
  font-weight:700;
}
.projectcontainer{
  background-color: #001a33!important;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  z-index: 15;
  border-radius:10px;
}
.teamlogo {
  height: 200px !important;
}
.ProjectBin:hover .overlay {
  opacity: 1;
}
.projects{
  padding-left:10%;
  padding-right:10%;
  padding-top:70px;
  background-color: #001a33!important;
}

.text a {
  text-decoration: none;
  color: white;
}

.text a:hover {
  text-decoration: none;
  color: white;
}
.ProjectSection {
  padding-top: 0 !important;
  background-color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.ImpactSection {
  flex: 1;

  margin-right: 30px;
  color: white;
}

.ProjectBin {
  flex: 1;

  color: white;
}

.projectimagebin {

}
.ProjectText {

  max-height: 500px;
}
.ImpactBin {
  background-color:black;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  padding-top: 50px;
  padding-bottom: 20px;
  
}

.ImpactCard{
  max-width:50%;
  margin:0!important;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
}
.projectTitle {
  text-align: left;
  padding-left:10px;
  
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size:50px;
 
}

.firstprojrow{
  padding-bottom:25px!important
}

.impactstates{
  color:black!important;
}
.ImpactBin h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size:40px;
}

.ImpactHeader {
  font-size: 40px;
}

.ImpactBin p {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .Impactcontainer {
    flex-direction: column;

    padding-bottom: 20px;
  }
  .projects{
padding-bottom:22
  }
 
  .ImpactSection {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.aboutimage {
  width: 400px !important;
  border-radius:10px;
  -webkit-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);

  height: 400px !important;
}
@media (max-width: 1400px) {
  .teamBins {
    padding-top:130px!important;
  }
}
@media (max-width: 1400px) {
  .videosignup {
    width:100%;
  }
}
@media (max-width: 1400px) {
  .allieimagebin {
    margin-top:100px!important;
  }
}
@media (max-width: 576px) {
  .teamBins {
    padding-left:10%!important;
    padding-top:20px!important;
  }
}
@media (max-width: 576px) {
  .allieimagebin {
    margin-top:0!important;
    padding-left:20px!important;
    margin-left:0px!important;
    padding-top:0px!important;
  }
}
.newhubtitle {

  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.forwardabout {
  padding-top: 0px;
  background-color: #001a33!important;

  padding-bottom:50px;
}
.projectimage {
  width: 90% !important;
  height: 90% !important;
  border-radius:10px;
  -webkit-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
}
.projectdesc{
  text-align:left!important;
  font-family: "Montserrat", sans-serif;
  color:silver!important;
}

@media (max-width: 768px) {
  .projectimage {
    width: 100% !important;
    height: 80% !important;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .ProjectText {
    padding-top: 0;
  }
}
.alliesdesc{
  text-align:left;
  font-family: "Montserrat", sans-serif;
  color:lightgrey!important;
}

.alliesimage {
  width: 100% !important;
  margin-left:50px;
  height: 400px !important;
  margin-top:80px!important;
  border-radius:10px 10px 10px 10px!important;
  -webkit-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
  
}
.allies{
  padding-left:8%;
  padding-right:15%;
  background-color: #001a33!important;
  padding-bottom:40px;

}
.allieshr{
  margin-top:180px;
}
.AlliesTitle {
  font-size: 40px;
  font-weight: 700;
  padding-left:10px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  
}

.Contact {
  background-color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  padding-top:3%;
  padding-bottom:3%;
}
.contactTitle{
  font-size:40px;
  padding-bottom:0;
  margin-bottom:0;
}
.contacthr{
  margin-top:10px!important;
}
.Contact p {
  color: white;
  font-family: "Montserrat", sans-serif !important;
}

.Contact h1 {
  font-weight: 700;
}

.Contact button {
  background-color: lightblue;
  border: blue;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.navbarss_nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

#socials {
  padding: 0 !important;
  margin-right: 10px !important;
}
.app-bar {
  height: 70px;
}
.navbarss_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  
}

.navbarss_nav-items a {
  color: silver;
  text-decoration: none;
  font-weight:700;
  font-size:14px;
}
.spacer {
  flex: 1;
}
.navbarss_nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right:140px;
  display: flex;
}

.navbarss_logos {
  margin-left: 11rem;
}

.navbarss_nav-items li {
  padding: 0 0.2rem;
  font-family: "Montserrat", sans-serif;
}

.navbarss_nav-items a:hover,
.navbarss_nav-items a:active {
  color: orange;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 30px;
  height: 2px;
  background: white;
}
.sideDrawerList {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white !important;
  padding:100px;
}
.sideDrawerLogo {
  margin-bottom: 80px;
}

.sidedrawerIcon {
  padding-right: 10px;
  padding-left: 10px;
}
.sideDrawerList li a {
  color: white;
  /* text-transform:lowercase; */
}
.sideDrawerList li {
  padding-bottom: 40px;
}
.side-drawer.open {
  background-color: black;
}
.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 200;
  max-width: 400px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}
.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: purple;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .toolbar_navigation {
    display: none;
  }
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}

@media (min-width: 769px) {
  .navbarss_nav-button {
    display: none;
  }
  .navbarss_logo {
    margin-left: 0;
  }
}

#dogs {
  height: 300px;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  filter: brightness(55%);

}

.titledesc{
  padding-bottom:100px!important;

}

.testimonialSlide img{
  border-radius:10px;
}
.forwardmainlink{
  color:rgb(0, 204, 255)!important;

  font-size:20px;
  font-weight:700!important;

  font-family: "Montserrat", sans-serif;

  
}
.contactlink{
  color:rgb(0, 204, 255)!important;

  font-size:20px;
  font-weight:700!important;

  font-family: "Montserrat", sans-serif;
}
.forwardhr{
  height:5px;
}
.hrbackground{
  background-color:black;
  padding:0!important;
  margin-top:0!important;
  margin-bottom:0!important;

}
.commitmenthr{
  margin-left:36%!important;
}
@media (max-width: 600px) {
  .forwardTitle {
    font-size: 3rem;
  }
  .CommitmentBin {
    padding: 0;
  }
}
.CommitmentBin{
  padding-bottom:100px;
}
.forwardcommitment{
  font-size:40px!important;
  color:inherit!important;
  background-color:black;

}
video {
  object-fit: fill;
}
.maintitledesc{
  font-size:24px!important;
  color:lightgrey;
 
  text-align:left;
  font-weight:500!important;
  font-family: "Montserrat", sans-serif;

}
.abouthr{


}

.learnfirst{
  font-size:24px;
  text-align:left!important;
  color:rgb(0, 204, 255)!important;
  font-weight:600;
  text-decoration:none;
  padding-left:0px!important;
  
  
}

.hrposition{
  padding-left:60px;
}
hr {
  margin: 25px auto;

  /* GET STARTED! */
}
.getStarted {
  width: 100vw;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #061321;
  background-image: radial-gradient(circle, #002a48, #061321 35%);
  background-size: cover;
  opacity: 20;
  overflow: hidden;
  padding-top: -200px;
  font-family: sans-serif;
  font-weight: bold;
}
.smallcont {
  width: 30%;
  margin: 0;
  padding: 0;
  display: inline;
  text-align: center;
}

.wow {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-top: 30px;
}
.getStarted h1 {
  width: 100%;
  margin-left: auto;
  position: absolute;
  top: -100px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 200px;
  padding-bottom: 200px;
}
/* 
  .flexbox-container{
    height:500px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
  
  }
  .chevron-right{
    color:white;
    padding-top:100px;
  
  }
  
  .card-container{
    position:relative;
    max-height:90%;
    display:grid;
    grid-template-columns:repeat(7,1fr);
    padding:0px 20px;
    grid-gap:2rem;
    margin-right:40px;
    margin-left:40px;
    margin-top:-90px;
  }
  .card-image{
    padding-top:40px;
    background:-webkit-linear-gradient(top,#8f6b29,
    #FDE08D,#DF9F28);
    background:linear-gradient(top,#8f6b29,#fde08d, #df9f28);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  
  }
  a:hover{
    
    text-decoration:none;
  }
  
  a:visited{
    text-decoration:none;
  
  }
  
  a:link{
    text-decoration:none;
  }
  a:link{
    text-decoration:none;
  }
  
  .card{
    display:grid;
    grid-template-columns:300px;
    grid-template-rows:130px 104px 73px;
    grid-template-areas:'image' 'text' 'stats';
  padding-right:0;
  padding-left:0;
    font-family:roboto;
    border-radius:15px;
    background:#202224;
    box-shadow:5px 5px 15px blue;
    text-align:center;
    transition:0.5s ease;
    cursor:pointer;
    margin:0px;
    margin-top:0px;
    
  }
  .card-image{
    grid-area:image;
  
    border-top-right-radius:15px;
    border-top-left-radius:15px;
  
  
  }
  
  .flexbox-container a{
    padding-right:0;
    padding-left:0;
    margin:0;
  }
  
  .youthCouncil{
    
    background:url("/images/youthCouncil.jpg");
    background-size:cover;
  }
  
  .signUp{
    background:url("/images/signUp.jpg");
    background-size:cover;
  }
  .chevron-right i{
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* box-shadow:5px 20px 10px #202224; */
/* }
  .card-text{
    grid-area:text;
    margin:25px;
    color:white;
  
  }
  .card-text h2{
      background:-webkit-linear-gradient(top,#8f6b29,
    #FDE08D,#DF9F28);
    background:linear-gradient(top,#8f6b29,#fde08d, #df9f28);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  }
  .card-stats{
    grid-area:stats;
  } */

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px red;
}

/* .card-text h2{
    font-size:30px;
  
  } */

/* FOOTER************************************** */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body-content {
  width: 100%;
  padding: 1px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
}

.footer {
  width: 100%;
  background: black;
  display: block;
}

.usefullinks{
  
}

.videosignup{
  padding-left:7%!important;
  padding-right:0px!important;
}

.signupvideo{
  padding-right:150px;
}


.firsthqtext{
  padding-left:9%;
  padding-right:9%;
  font-weight:600;
  font-size:18px;
  font-family: "Montserrat", sans-serif;

}
.signuptext{
  font-weight:600;
  font-size:22px;
  font-family: "Montserrat", sans-serif;
}
.signupimage{
  display:flex;
  justify-content:center;
  padding-bottom:20px;
  padding-top:20px;
 
}
.signupimageimage{
  max-width:86%;
  width:86%;
}
.reactplayervid{
  height:400px!important;
}
.flex-container{
  display:flex;
}
.flex-containercommit{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top:100px;
}
.flex-containercommit > div{
  width:50%!important;

  text-align:center;

}
.flex-container >div{
  margin:10px;
}
.programs{
 
}
.inner-footer {
  width: 88%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.footer-items ul{
  padding-left:0!important;
  margin-left:0!important;
}
.borders {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  width: 100vw;
  height: 10px;
}
h1 {
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
}

.footer-items p {
  color: grey;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  font-weight:700;
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 45%!important;
  background: white!important;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.footer-items h2 {
  font-size: 25px;
}
ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}
ul li {
  margin: 10px 0;
  height: 25px;
}
li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: white;
  text-align: center;
}

.social-media a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

.social-media i {
  height: 15px;
  width: 15px;
  margin: 20px;
  color: white;
  border: none;
  transition: 0.3s;
}

.social-media i:hover {
  background: grey;
}

.footer-bottom {
  padding: 10px;
  background: black;
  color: white;
  font-size: 12px;
  text-align: center;
}
.logo {
  width: 100%;
  height: 100px;
  padding-bottom: 20px;
}

.forwardlogobin{
  padding-left:7%;
}
@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}

.forwardcommitbin{
  text-align: center;
  

  background-color: black;
  color: white;
  
  padding-top:70px;

}
/* commitment******************* */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 30px;
  transform: rotate(45deg);
}

.modalSection {
  background-color: black;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.equity1 {
  background-color: white;

  width: 200px;
  height: 100px;
  margin-right: 200px;
  margin-top: 150px;
}
.equity1:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px #0aebff;
}
/* FORM SECTION */
.formSection {
  background-color: black;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  width: 80%;
  padding: 20px;
  padding-right: 80px;
  border: 10px;
}

.container h2 {
  width: 100%;
  color: white;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  font-family: "roboto";
  margin-bottom: 10px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.viewresource{
  display:flex;
  justify-content:right;
  align-items:right;
  text-align:right;

}
.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: white;
}
.viewSource {
  align-items:right;
  justify-content:right!important;
  margin-left:0;
  text-decoration:none;
  color:white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size:24px;
  padding-top:50px;
  padding-bottom:60px;


}
.viewSource:hover{
  text-decoration:none;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
  font-family: "roboto";
}

.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: lightblue;
  color: black;
  font-size: 18px;
  border-radius: 2px;
}

.lol {
  margin-right: 100px;
}
.lol p {
  color: white;
}
.lol h2 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  background: -webkit-linear-gradient(to top, #8f6b29, #fde08d, #df9f28);
  background: linear-gradient(to top, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lols {
  margin-right: 200px;
  text-align: center;
  margin-top: 70px;
  background-color: black;
}
.titlebox {
  background-color: black;
}

.rookiemainttitle{
  padding-left:8%!important;
}
.lols h1 {
  background: -webkit-linear-gradient(to top, #8f6b29, #fde08d, #df9f28);
  background: linear-gradient(to top, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.container-1 {
  display: flex;
  padding-top: 100px;
}
.container {
  text-align: center;

  align-items: center;
}

.firstTitle {
  text-align: center;

  font-size: 36px;
  width: 100vw;
  justify-content: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

/* COMMITMENT STYLING */
/* .containerTest{
      width:100%;
      height:auto;
      background:blue; */

/* display:flex;
      flex-direction:row;
      justify-content:space-around; */
/* } */
/* 
    .box{
      width:30%;
      height:300px;
      background:yellow;
      margin:20px;
      box-sizing:border-box;
      font-size:50px;
    } */

.box {
  color: white;
}

ONLINE HUBS .OnlineHubs {
  background-color: #2f2f31;
  margin: 0;
  padding: 0;
  justify-content: center !important;
}
.hubtitle {
  font-size: 30px;
  align-items: center !important;
  text-align: center !important;
  color: white;
  padding-left: 210px !important;
  display: flex;
  padding-bottom: 0px !important;
}
.hubs {
  background-color: #000f58;

  text-align: center;

  justify-content: center;
}

.borders {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  width: 100vw;
  height: 10px;
}
.teamBins {
  padding-top: 60px;
  padding-right:180px!important;

}
.rick {
  background: #202224;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: white;
  margin-bottom: 50px;
  box-shadow: 5px 5px 15px red;
  border-radius: 5px;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.rick h2 {
  font-size: 20px;

  color: white;
}
.FIRST{
  font-style:italic;
}
.tools {
  padding: 20px;

  color: white;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  font-size:20px!important;
}

.tools p {
  color: rgba(243, 226, 199, 1);
}
#id {
  margin-top: 30px;
}
.hubtitle {
  font-weight: bold;
  font-family: "roboto";
  font-size: 42px;
  padding-top: 40px;
  padding-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  text-align: center !important;
  align-items: center !important;
  padding-right: 210px;
  padding-left: 170px;
  text-transform: uppercase;
  color: white;
}

.hubs p {
  color: white;
  margin: 0;
  margin-left: 10px;
  padding-left: 0px;
  font-size: 20px;
}

.hubshr {
  background-color: blue;
  height: 3px;
  margin: 0;
  padding: 0;
}

.hrcontainer {
  margin: 0;
  padding: 0;
}

.hubtext {
  width: 200px;
  padding-right: 30px;
  margin-top: 40px;
  color: rgb(61, 57, 51);
  margin-top: 0;
}

.hubtext {

}
/* @media(min-width:768px){
        .hubtext{
         padding-top:80px;
         padding-left:100px;
        }
      }
      @media(max-width:768px){
        .hubtext{
         padding-top:0;
        }
      } */
.forwardhubtext {

}
.hubtext p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  /* color:rgba(243,226,199,1); */
}

.hubs img {
  width: 200px;
  height: 150px;
  margin-bottom: 30px;
}

.image {
  border-radius: 10px;
}
.image1 {
  width: 100%;
  display: block;
  height: auto;
}
.images {
  margin: 0;
  padding-right: 0;
  padding-left: 150px;
  max-width: 300px;
}
.dog {
  object-fit: fill;
  max-width: 100%;
  display: block;
  margin: 0;
}

.resourcebanktitle{

  justify-content:center;
}

.commitpadding{
  padding-bottom:26px!important;
}


/* TESTIMONIALS */

.Testimonial {
  font-size: 20px;
  align-items: center;
  text-align: center;

  margin: 0;
  padding: 0;
}

.Testimonial h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.Testimonial h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.testimonialSlide p {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.forwardtitle {
  text-align: left;
  font-size: 8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px;
  margin: 15px;
  /* font-style:italic; */
  z-index: 1 !important;
  display: block;
  padding-top: 140px;
}
.titles {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;

  text-align: center;

  font-family: "Montserrat", sans-serif;

  padding-left: 100px;
}

.titles h1 {
  font-size: 35px;
  font-weight: bold;
}
/* REAL GET STARTED SECTION */

.overflow img {
  width: 100px;
}

.fonts {
  padding-top: 25px;
  width: 100%;
  color: white;
}
.fonts p {
  width: 100%;
}

.card-body {
}

.preactive .slider-single-content p {
  display: none;
}
.proactive .slider-single-content p {
  display: none;
}

.card-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* RESOURCES PAGE */
.sidebar {
  height: 800px;
}
